{% extends "base/main.html" %}
{% load static %}
{% block title %} Inicio {% endblock %}


{% block content %}
        <!-- seccion opciones -->
        <section class="py-4 bg-white">
            <div class="container">
              <div class="row g-4">
                <div class="col">
                  <div class="text-center p-4 rounded-3 bg-light">
                    <i class="bi bi-calculator fs-1 text-danger mb-3"></i>
                    <h3 class="display-6 fw-bold mb-2">Solucionador</h3>
                    <p class="fs-5 text-muted">Botón</p>
                  </div>
                </div>
                <div class="col">
                  <div class="text-center p-4 rounded-3 bg-light">
                    <i class="bi bi-file-text fs-1 text-danger mb-3"></i>
                    <h3 class="display-6 fw-bold">Documentación</h3>
                    <p class="fs-5 text-muted">Botón</p>
                  </div>
                </div>
                {% if user.is_authenticated %}
                <div class="col">
                  <div class="text-center p-4 rounded-3 bg-light">
                    <i class="bi bi-clock-history fs-1 text-danger mb-3"></i>
                    <h3 class="display-6 fw-bold mb-2">Historial</h3>
                    <p class="fs-5 text-muted">Botón</p>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
        </section>
{% endblock %}



