<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing Page</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
  <!-- Bootstrap icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <style>
    .bg-home {
      background-image: url('https://placecats.com/neo/300/200');
      background-repeat: no-repeat;
      background-position: right;
      background-size: contain;
      opacity: 0.5;
      pointer-events: none;
    }

  </style>
</head>
<!-- barra nav -->
{% extends "base/main.html" %}
    {% block title %} Gestion de categorias {% endblock %}

    {% block content %}
    {% load static %}
<body class="">
  <!-- seccion principal -->
  <section class="position-relative py-5 py-md-5 py-lg-5">
    <div class="container position-relative">
      <div class="position-absolute top-0 start-0 w-100 h-100 bg-home"></div>

      <div class="row justify-content-center">
        <div class="col-lg-8 text-center text-lg-start">
          <h1 class="display-4 fw-bold mb-4">
            Métodos <span class="text-danger">Numéricos</span>
          </h1>
          <h1>Lagrange y Diferenciación Numérica</h1>
          <p class="lead mb-4">
            Explicación breve
          </p>
          <div class="d-flex flex-column flex-sm-row gap-3 justify-content-center justify-content-lg-start">

          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- seccion varios -->
  <section class="py-4 bg-white">
    <div class="container">
      <div class="row g-4">
        <div class="col-md-4">
          <div class="text-center p-4 rounded-3 bg-light">
            <i class="bi bi-calculator fs-1 text-danger mb-3"></i>
            <h3 class="display-6 fw-bold mb-2">Solucionador</h3>
            <p class="fs-5 text-muted">Botón</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="text-center p-4 rounded-3 bg-light">
            <i class="bi bi-clock-history fs-1 text-danger mb-3"></i>
            <h3 class="display-6 fw-bold mb-2">Historial</h3>
            <p class="fs-5 text-muted">Botón</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="text-center p-4 rounded-3 bg-light">
            <i class="bi bi-file-text fs-1 text-danger mb-3"></i>
            <h3 class="display-6 fw-bold">Documentación</h3>
            <p class="fs-5 text-muted">Botón</p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- seccion footer -->
  <section class="py-2 bg-primary text-white">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="display-6 fw-bold mb-4">Footer</h2>
          <p class="fs-4 mb-5 opacity-75">
            Mensaje
          </p>
        </div>
      </div>
    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>\
   {% endblock %}
</body>
</html>