{% extends "base/main.html" %}
{% load static %}

{% block title %} Inicio {% endblock %}

{% block content %}
            <!-- seccion principal -->
        <section class="position-relative py-5 py-md-5 py-lg-5">
            <div class="container position-relative">
              <div class="position-absolute top-0 start-0 w-100 h-100 bg-home"></div>

              <div class="row justify-content-center">
                <div class="col-lg-8 text-center text-lg-start">
                  <h1 class="display-4 fw-bold mb-4">
                    Métodos <span class="text-danger">Numéricos</span>
                  </h1>
                  <h1>Lagrange y Diferenciación Numérica</h1>
                  <p class="lead mb-4">
                    Solucionador de métodos numéricos como diferenciación numérica y polinimio de interpolación de Lagrange.
                  </p>
                  <div class="d-flex flex-column flex-sm-row gap-3 justify-content-center justify-content-lg-start">

                  </div>
                </div>
              </div>
            </div>
        </section>
        <!-- seccion opciones -->
        <section class="py-4 bg-white">
            <div class="container">
              <div class="row g-4">
                <div class="col">
                  <div class="text-center p-4 rounded-3 bg-light">
                    <i class="bi bi-calculator fs-1 text-danger mb-3"></i>
                    <h3 class="display-6 fw-bold mb-2">Solucionador</h3>
                    <a href="{% url 'metodos:lagrange' %}" class="btn btn-dark">Lagrange</a>
                    <a href="{% url 'metodos:diferenciacion' %}" class="btn btn-dark">Diferenciación</a>
                  </div>
                </div>
                <div class="col">
                  <div class="text-center p-4 rounded-3 bg-light">
                    <i class="bi bi-file-text fs-1 text-danger mb-3"></i>
                    <h3 class="display-6 fw-bold">Documentación</h3>
                    <a href="{% url 'document' %}" class="btn btn-dark">Ver</a>
                  </div>
                </div>
                {% if user.is_authenticated %}
                <div class="col">
                  <div class="text-center p-4 rounded-3 bg-light">
                    <i class="bi bi-clock-history fs-1 text-danger mb-3"></i>
                    <h3 class="display-6 fw-bold mb-2">Historial</h3>
                    <a href="{% url 'metodos:ver_historial' %}" class="btn btn-dark">Ver</a>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
        </section>
{% endblock %}



