{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    {% block head_contenido %}
    	
    {% endblock %}
    <style>
        .bg-home {
            background-image: url("{%  static 'image/homero.png' %}");
            background-repeat: no-repeat;
            background-position: right;
            background-size: contain;
            opacity: 0.5;
            pointer-events: none;
        }
        html, body {
            height: 100%;
            margin: 0;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        main {
            flex: 1; /* Empuja el footer hacia abajo */
        }

    </style>
    <title> {% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
                    <ul class="navbar-nav w-100 justify-content-around d-flex align-items-center">
                        <li class="nav-item">
                            <a class="nav-link active fs-3" aria-current="page" href="{% url 'inicio' %}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-3" href="{% url 'creditos' %}">Créditos</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {% if user.is_authenticated %}
                                    <img src="{{ user.userprofile.image.url }}" alt="Perfil" class="rounded-circle" width="40" height="40">
                                {% else %}
                                    <i class="bi bi-person-circle fs-3"></i>
                                {% endif %}
                            </a>
                            <ul class="dropdown-menu">
                                {% if user.is_authenticated %}
                                    <li><a class="dropdown-item" href="{% url 'profile' %}">Perfil</a></li>
                                    <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a></li>
                                {% else %}
                                    <li><a class="dropdown-item" href="{% url 'login' %}">Iniciar sesión</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <main class="wrapper">
        {% block content %}

        {% endblock %}

        <!-- seccion footer -->
        <section class="py-2 bg-primary text-white">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                  <h2 class="display-6 fw-bold mb-4">Footer</h2>
                  <p class="fs-4 mb-5 opacity-75">
                    Mensaje
                  </p>
                </div>
              </div>
            </div>
        </section>
    </main>
</body>
</html>
